html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.modal-backdrop {
    z-index: -1;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #EFF4F7;
}

.fixed-menu {
    position: fixed;
    height: 100%;
    width: 100%;
}

.left-content {
    background-color: #AD1A25;
    width: 250px;
    min-width: 250px;
    left: 0;
    z-index: 2;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.right-content {
    background-color: #EFF4F7;
    width: 100%;
    height: 100%;
    padding-left: 250px;
    right: 0;
    z-index: 1;
}

main {
    padding-left: 250px;
    position: fixed;
    height: 100%;
    width: 100%;
    right: 0;
}

.margin-0 {
    margin: 0;
}

.center-vertical {
    align-items: center;
}

#main-logo {
    margin: 2vh 2vh;
}

#main-logo:hover {
    cursor: pointer;
}

#main-text {
    font-size: 20px;
    font-weight: bolder;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    cursor: pointer;
    color: black;
}

.button-coin {
    margin: 25px 0;
    background-color: #EEEEEE;
    padding: 1% 6%;
    color: dimgray;
    font-size: larger;
}

.selected {
    background-color: #FCCF00;
    color: black;
}

.left-button{
    border-start-start-radius: 10px;
    border-end-start-radius: 10px;
}

.right-button{
    border-start-end-radius: 10px;
    border-end-end-radius: 10px;
}

.ml-10 {
    margin-left: 10px;
}

.ml-20 {
    margin-left: 20px;
}

.button-menu {
    margin-top: 0px;
    padding: 10px 0;
    min-width: 90%;
    border-end-end-radius: 35px;
    border-start-end-radius: 35px;
    background-color: transparent;
    background: linear-gradient(to right, #FCCF00 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .2s ease-out;
}

.bg-yellow {
    background-color: #FCCF00;
}

.button-menu:hover {
    cursor: pointer;
    background-position: left bottom;
}

.space {
    height: 40%;
}

.top-container {
    background-color: white;
    padding: 15px 30px;
    border-bottom: 0.5px solid rgba(128, 128, 128, 0.5);
}

.search-bar {
    background: transparent url() no-repeat 10px center;
    background-image: url(../search.png);
    padding: 10px 35px;
    width: 50%;
    border-radius: 10px;
}

.profile{
    width: 50%;
    justify-content: right;
}

.title{
    background-color: white;
    padding: 10px 30px;
}

.card{
    margin: 1% 0.5%;
    padding: 1%;
}

.row-coin-card-people {
    max-height: 47%;
    min-height: 23%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow: auto;
}

.col-coin-card-people {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    min-width: 220px;
    min-height: 180px;
    max-width: 240px;
    max-height: 200px;
    background-color: white;
    border-radius: 20px;
    margin: 20px 30px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.col-coin-card-people:hover{
    cursor: pointer;
}

.row-coin-card-group {
    max-height: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow: auto;
}

.col-coin-card-group {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    min-width: 360px;
    min-height: 320px;
    max-width: 380px;
    max-height: 340px;
    background-color: white;
    border-radius: 20px;
    margin: 20px 30px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    /*text-shadow: 0px 1px, 1px 0px, 1px 1px;*/
}

.col-coin-card-group:hover {
    cursor: pointer;
}

.selected-card {
    border: 2px solid #AD1A25;
}

.coin-container {
    position: absolute;
    right: -15px;
    top: -10px;
    width: 60px;
    background-color: #049BD8;
    border-radius: 10px;
    color: white;
    z-index: 2;
}

#multiple-text {
    color: #AD1A25;
    font-weight: bolder;
}

.dark-mode-1 {
    background-color: #2F2F2F;
}

.dark-mode-2 {
    background-color: #4A4A4A;
}

.dark-mode-3 {
    background-color: #121212;
}

.dark-mode-text {
    color: white;
}
