html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.modal-backdrop {
    z-index: -1;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #EFF4F7;
}

.fixed-menu {
    position: fixed;
    height: 100%;
    width: 100%;
}

.left-content {
    background-color: #AD1A25;
    width: 250px;
    min-width: 250px;
    left: 0;
    z-index: 2;
}

.right-content {
    background-color: #EFF4F7;
    width: 100%;
    height: 100%;
    padding-left: 250px;
    right: 0;
    z-index: 1;
}

main {
    padding-left: 250px;
    position: fixed;
    height: 100%;
    width: 100%;
    right: 0;
}

.margin-0 {
    margin: 0;
}

.center-vertical {
    align-items: center;
}

#main-logo {
    margin: 2vh 2vh;
}

#main-logo:hover {
    cursor: pointer;
}

#main-text {
    font-size: 20px;
    font-weight: bolder;
}

a {
    text-decoration: none
}

a:hover {
    cursor: pointer;
}

.button-coin {
    margin: 25px 0;
    background-color: #EEEEEE;
    padding: 1% 6%;
    color: dimgray;
    font-size: larger;
}

.selected {
    background-color: #FCCF00;
    color: black;
}

.left-button{
    border-start-start-radius: 10px;
    border-end-start-radius: 10px;
}

.right-button{
    border-start-end-radius: 10px;
    border-end-end-radius: 10px;
}

.ml-10 {
    margin-left: 10px;
}

.ml-20 {
    margin-left: 20px;
}

.button-menu {
    margin-top: 0px;
    padding: 10px 0;
    min-width: 90%;
    border-end-end-radius: 35px;
    border-start-end-radius: 35px;
    background-color: transparent;
    background: linear-gradient(to right, #FCCF00 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .2s ease-out;
}

.bg-yellow {
    background-color: #FCCF00;
}

.button-menu:hover {
    cursor: pointer;
    background-position: left bottom;
}

.space {
    height: 40%;
}

.top-container {
    background-color: white;
    padding: 15px 30px;
    border-bottom: 0.5px solid rgba(128, 128, 128, 0.5);
}

.search-bar {
    background: transparent url() no-repeat 10px center;
    background-image: url(../search.png);
    padding: 10px 35px;
    width: 50%;
    border-radius: 10px;
}

.profile{
    width: 50%;
    justify-content: right;
}

.title{
    background-color: white;
}

.p-content{
    padding: 10px 30px;
}


.row{
    /*margin: 0 3%;*/
}

.card{
    margin: 1% 0.5%;
    padding: 1%;
}

.row-coin-card {
    max-height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow: auto;
}

.col-coin-card-people {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    min-width: 180px;
    min-height: 180px;
    max-width: 240px;
    max-height: 200px;
    background-color: white;
    border-radius: 20px;
    margin: 20px 30px;
}

.col-coin-card-people:hover{
    cursor: pointer;
}

.selected-card-people {
    border: 5px solid #AD1A25;
}

.coin-container {
    position: absolute;
    right: -15px;
    top: -5px;
    width: 60px;
    background-color: #049BD8;
    border-radius: 10px;
    color: white;
    z-index: 2;
}

#pop-up {
    position: fixed;
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;

    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
}

#add-coin-pop{
    width: 500px;
    height: 500px;
    background-color: white;
}

#multiple-text {
    color: #AD1A25;
    font-weight: bolder;
}