@model IEnumerable<CategoryReward>
@{
    ViewData["Title"] = "Add Reward";
}

<div class="top d-flex top-container">
    <input class="search-bar" type="text" placeholder="Search" />
    <div class="d-inline-flex center-vertical profile">
        <div class="d-flex center-vertical">
            <a class="text-black margin-0" id="main-text">Admin</a>
        </div>
        <img class="ml-10" src="../assets/bootcoin.png" width="30" height="30" />
    </div>
</div>

<div class="title p-content">
    <h3>@ViewData["Title"]</h3>
</div>

<div>  
    <img class="d-block" src="#" style="margin: auto; width: 85%;"/>
</div>

<div class="p-content">
    <h5 class="fw-bolder">Reward Category</h5>
</div>

<div class="row" style="margin: 10px 20px;">
    @foreach (var item in Model)
    {
        <div class="card col" style="width: 19rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">@item.Name</h5>
                <a asp-controller="Reward" asp-action="Index" asp-route-categoryId="@item.Id" asp-route-categoryName="@item.Name" class="btn btn-primary">Details</a>
            </div>
        </div>
    }
</div>