@{
    ViewData["Title"] = "Add Coin";
}

<div class="content">
    <div class="top d-flex">
        <input class="search-bar" type="text" placeholder="Search" />
 <!--       <div class="d-inline-flex" id="profile">
                <div class="d-flex center-vertical">
                    <a class="text-black margin-0" id="main-text">Admin</a>
                </div>
                    <img src="assets/bootcoin.png" class="ml-10" width="30"/>
            </div>-->
    </div>
</div>
