@model CategoryReward
@{
    ViewData["Title"] = "Detail Reward";
}
<div class="top d-flex top-container">
    <form asp-action="DetailReward" asp-controller="Home">
        <input type="text" name="query" class="search-bar" placeholder="Search" />
    </form>

    <div class="d-inline-flex center-vertical profile">
        <div class="d-flex center-vertical">
            <a class="text-black margin-0" id="main-text">Admin</a>
        </div>
        <img class="ml-10" src="./assets/bootcoin.png" width="30" height="30" />
    </div>
</div>

<div class="title p-content">
    <h3>@ViewData["Title"]</h3>
</div>

<div>
    <img class="d-block" src="#" style="margin: auto; width: 85%;" />
</div>

@if (Model != null)
{
    <div class="p-content">
        <h5 class="fw-bolder">Reward Details - @Model.Name</h5>
    </div>
    <div class="row" style="margin: 10px 20px;">
        @foreach (var item in Model.Rewards)
        {
            <div class="card col" style="width: 19rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@item.RewardName</h5>
                </div>
            </div>
        }
    </div>
}
else
{
    <p>No item found</p>
}

<!-- Button trigger modal -->
<div class="d-grid gap-2 col-6 mx-auto">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#formModal">
        Add More
    </button>
</div>
<!-- Modal -->
<div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="formModalLabel">Add Reward</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" asp-controller="Home" asp-action="AddMoreReward">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="inputCategory">Category Reward</label>
                        <input type="text" class="form-control" placeholder="@Model.Name" readonly>
                    </div>
                    <div class="form-group">
                        <label for="inputName">Reward Name</label>
                        <input type="email" class="form-control" id="rewardName" name="rewardName">
                    </div>
                    <div class="form-group">
                        <label for="inputDesc">Reward Description</label>
                        <textarea class="form-control" id="rewardDescription" name="rewardDescription" rows="3"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

