@{
    ViewData["Title"] = "Add Coin";
}

<div class="top d-flex top-container">
    <input class="search-bar" type="text" placeholder="Search" />
    <div class="d-inline-flex center-vertical profile">
        <div class="d-flex center-vertical">
            <a class="text-black margin-0" id="main-text">Admin</a>
        </div>
        <img class="ml-10" src="../assets/bootcoin.png" width="30" height="30" />
    </div>
</div>

<div class="title p-content">
    <h3>@ViewData["Title"]</h3>
</div>

<div class="row-coin-card">
    <!-- Template Card 5 col per row-->
    <div class="col-coin-card-people">
        <div class="coin-container">
            <h6>Point</h6>
        </div>
        <div class="card-body col-coin-card-people" style="text-align:center;">
            <div>
                <img src="../assets/bootcoin.png" alt="..." width="130">
            </div>
            <h6>Juan Trilnardo D</h6>
        </div>
    </div>

    <div class="col-coin-card-people">
        <div class="coin-container">
            <h6>Point</h6>
        </div>
        <div class="card-body col-coin-card-people" style="text-align:center;">
            <div>
                <img src="../assets/bootcoin.png" alt="..." width="130">
            </div>
            <h6>Juan Trilnardo D</h6>
        </div>
    </div>

    <div class="col-coin-card-people">
        <div class="coin-container">
            <h6>Point</h6>
        </div>
        <div class="card-body col-coin-card-people" style="text-align:center;">
            <div>
                <img src="../assets/bootcoin.png" alt="..." width="130">
            </div>
            <h6>Juan Trilnardo D</h6>
        </div>
    </div>

    <div class="col-coin-card-people">
        <div class="coin-container">
            <h6>Point</h6>
        </div>
        <div class="card-body col-coin-card-people" style="text-align:center;">
            <div>
                <img src="../assets/bootcoin.png" alt="..." width="130">
            </div>
            <h6>Juan Trilnardo D</h6>
        </div>
    </div>

    <div class="col-coin-card-people">
        <div class="coin-container">
            <h6>Point</h6>
        </div>
        <div class="card-body col-coin-card-people" style="text-align:center;">
            <div>
                <img src="../assets/bootcoin.png" alt="..." width="130">
            </div>
            <h6>Juan Trilnardo D</h6>
        </div>
    </div>

    <div class="col-coin-card-people">
        <div class="coin-container">
            <h6>Point</h6>
        </div>
        <div class="card-body col-coin-card-people" style="text-align:center;">
            <div>
                <img src="../assets/bootcoin.png" alt="..." width="130">
            </div>
            <h6>Juan Trilnardo D</h6>
        </div>
    </div>

    <div class="col-coin-card-people">
        <div class="coin-container">
            <h6>Point</h6>
        </div>
        <div class="card-body col-coin-card-people" style="text-align:center;">
            <div>
                <img src="../assets/bootcoin.png" alt="..." width="130">
            </div>
            <h6>Juan Trilnardo D</h6>
        </div>
    </div>

    <div class="col-coin-card-people">
        <div class="coin-container">
            <h6>Point</h6>
        </div>
        <div class="card-body col-coin-card-people" style="text-align:center;">
            <div>
                <img src="../assets/bootcoin.png" alt="..." width="130">
            </div>
            <h6>Juan Trilnardo D</h6>
        </div>
    </div>

    <div class="col-coin-card-people">
        <div class="coin-container">
            <h6>Point</h6>
        </div>
        <div class="card-body col-coin-card-people" style="text-align:center;">
            <div>
                <img src="../assets/bootcoin.png" alt="..." width="130">
            </div>
            <h6>Juan Trilnardo D</h6>
        </div>
    </div>

    <div class="col-coin-card-people">
        <div class="card-body col-coin-card-people" style="text-align:center;">
            <div>
                <img src="../assets/bootcoin.png" alt="..." width="130">
            </div>
            <h6>Add New</h6>
        </div>
    </div>

</div>
