@model AddCoinCategory
@{
    ViewData["Title"] = "Add Coin";
}

<div class="top d-flex top-container theme-container-change">
    <form class="w-100" asp-action="CoinGroup" asp-controller="Coin">
        <input type="text" name="query" class="search-bar w-100" placeholder="Search" />
    </form>

    <div class="d-inline-flex center-vertical profile">
        <div class="d-flex center-vertical">
            <a class="margin-0 theme-text-change" id="main-text">Admin</a>
        </div>
        <img class="ml-10" src="../assets/bootcoin.png" width="30" height="30" />
    </div>
</div>

<div class="title theme-text-change theme-container-change">
    <h3>@ViewData["Title"]</h3>
</div>

<a class="btn btn-secondary back-button" asp-action="CoinPeople" asp-controller="Coin"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>

<div style="height: 80%; flex-direction: column;" class="d-flex justify-content-center align-items-center theme-text-change">
    <div style="width: 50%; padding: 0px 10%;">
        <div class="d-flex justify-content-center">
            <h2>Add New Coin Category</h2>
        </div>
        <form method="post" asp-controller="Coin" asp-action="AddCoinCategory">
            <div class="mb-2">
                <label asp-for="AddCoinCategoryName">Coin Category Name:</label>
                <input asp-for="AddCoinCategoryName" style="width: 100%;" class="form-control theme-container-change theme-input-change" placeholder="Category Name"/>
                <span asp-validation-for="AddCoinCategoryName" class="text-danger"></span>
            </div>
            <div class="mb-2">
                <label asp-for="RequiredCoin" class="form-label theme-text-change">Coin Count:</label>
                <div class="input-group d-flex" style="width: 50%;">
                    <div class="input-group-prepend">
                        <button style="width: 37px; height: auto; margin-right: 20px;" type="button" class="btn btn-outline-secondary theme-container-change count-button" id="decrement">-</button>
                    </div>
                    <input style="border-radius: 10px;" asp-for="RequiredCoin" type="number" class="form-control theme-container-change theme-input-change" id="quantity" value="1" min="1">
                    <div style="margin-left: 20px;" class="input-group-append">
                        <button type="button" class="btn btn-outline-secondary theme-container-change count-button" id="increment">+</button>
                    </div>
                </div>
                <span asp-validation-for="RequiredCoin" class="text-danger"></span>
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary red-button">Input</button>
            </div>
        </form>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
    $(document).ready(function () {
        $("#decrement").click(function () {
            var value = $("#quantity").val();
            if (value > 1) {
                value--;
            }
            $("#quantity").val(value);
        });
        $("#increment").click(function () {
            var value = $("#quantity").val();
            value++;
            $("#quantity").val(value);
        });
    });
</script>